<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= item.title %></title>
</head>
<body>
  <h1><%= item.title %></h1> 
  <p><%= item.pubDate %></p>
  <% if (Object.hasOwn(item, 'content:encoded')) { %>
    <%- item['content:encoded'] %>
  <% } else { %>
    <%- item.content %>
  <% } %>
</body>
</html>